---
layout: page
title: Home
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h3 class="animated fadeInUp">CHÀO MỪNG ĐẾN VỚI KHOÁ HỌC ĐẢM BẢO CHẤT LƯỢNG PHẦN MỀM </h3>
         <p>Giảng viên: Phạm Thị Thương</p>
         <p>Bộ môn: CNPM</p>
         <p>Khoa: Công nghệ thông tin</p>
         <p>Trường: ĐH CNTT & TT - ĐH Thái Nguyên</p> </br>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Về khoá học này:</h2>
            <p>Số tín chỉ: 2 (LT: 2; TH: 0)</p>
            <p>Học phần tiên quyết: Công nghệ phần mềm, Kiểm thử phần mềm. </p>
            <p>Điểm trọng số: 3/7 </p>
            <p>Hình thức thi hết học phần: Báo cáo tiểu luận </p>
            
          </div>
          </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/SQA.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>MỤC TIÊU CỦA KHOÁ HỌC</h2>
      <p>1. Về kiến thức: Học phần cung cấp kiến thức cơ bản về đảm bảo chất lượng phần mềm trong chu trình sống của phần mềm, phương pháp luận, chuẩn đảm bảo chất lượng và công cụ hỗ trợ. Qua đó, sinh viên hiểu được cách thức xây dựng một hệ thống phần mềm đảm bảo chất lượng và vai trò của những thành viên trong hệ thống.</p>
      <p>2. Về kỹ năng: Sinh viên có khả năng sử dụng được một số phương pháp, công cụ cụ thể để thực hiện các hoạt động cơ bản trong qui trình xây dựng phân mềm, nắm được kỹ năng rà soát và kiểm thử phần mềm.</p>
      <p>3. Về thái độ: Tạo cho SV sự tự tin, tính chuyên nghiệp trong giải quyết vấn đề. Phát huy ý thức tự học và sáng tạo của sinh viên. Có ý thức vận dụng những kiến thức đã học vào cuộc sống nói chung và thực tế nghề nghiệp nói riêng.</p>
      <a href="https://drive.google.com/file/d/1MXkgzoMiYBdFiH042auR2LQ29PYk4JW6/view" class="btn btn-view-works">Tài liệu tham khảo chính</a>
      <a href="{{ site.baseurl }}/blog" class="btn btn-view-works">Bài giảng lý thuyết</a>
      
      <a href="{{ site.baseurl }}/work">Work</a>
      
    
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>TÀI NGUYÊN THAM KHẢO</h2>
           <p>Đây là các nguồn tài liệu cần thiết trợ giúp học viên trong quá trình triển khai các mô đun thực hành/thảo luận cũng như các chủ đề tiểu luận của khoá học.</p>
           <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/blog">Bài giảng kỹ nghệ phần mềm</a></li>
                <li><a href="{{ site.baseurl }}/contact">Các dự án phần mềm</a></li>
                <li><a href="{{ site.baseurl }}/blog">Các bộ tiêu chuẩn chất lượng</a></li>
                <li><a href="{{ site.baseurl }}/contact">Môi trường cộng tác phát triển PM sử dụng RUP (ĐH Wylie -USA) </a></li>
                <li><a href="{{ site.baseurl }}/contact">Môi trường cộng tác phát triển PM sử dụng Agile (CT Nhật Cường)</a></li>
                <li><a href="{{ site.baseurl }}/contact">Checklists for SQA trong vòng đời PM</a></li>
                <li><a href="{{ site.baseurl }}/contact">Một số tài liệu tham khảo khác</a></li>
          </ul>

      </div>
    </div>
    
 </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>DANH SÁCH CÁC CHỦ ĐỂ TIỂU LUẬN/NHÓM</h2>
          <p>Mỗi nhóm học viên nhận một chủ đề/hoặc tự đề xuất. Thời gian: sau khi khoá học diễn ra 3 tuần. </p>
          <div class="row ">
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="icon ion-coffee"></i>
                <h4>Chủ đề #1</h4>
                <p> Xây dựng tool sinh tài liệu dự án dựa trên mẫu biểu và điền form</p>
             </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-compass"></i>
                <h4>Chủ đề #2</h4>
                <p>Xây dựng môi trường cộng tác phát triển bằng cách đan dệt các thành phần SQA vào vòng đời phần mềm</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="icon ion-coffee"></i>
                <h4>Chủ đề #3</h4>
                <p> Rà soát đánh giá kết quả của Dữ án ABCDEF... </p>
             </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-compass"></i>
                <h4>Chủ đề #4</h4>
                <p> Rà soát và xây dựng các thành phần tiền dự án</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="icon ion-coffee"></i>
                <h4>Chủ đề #5</h4>
                <p>Rà soát kết quả phân tích và thiết kế của Dự án X </p>
             </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-compass"></i>
                <h4>Chủ đề #6</h4>
                <p>Thẩm tra và Thẩm định phần mềm. Áp dụng cho dự án X </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="icon ion-coffee"></i>
                <h4>Chủ đề #7</h4>
                <p> Xét duyệt mã nguồn thủ công và tự động</p>
             </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-compass"></i>
                <h4>Chủ đề #8</h4>
                <p> Quản lý mã nguồn và đảm bảo chất lượng mã nguồn </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="icon ion-coffee"></i>
                <h4>Chủ đề #9</h4>
                <p>Kiểm thử phần mềm và tìm code bugs </p>
             </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-compass"></i>
                <h4>Chủ đề #10</h4>
                <p> Quản lý chất lượng phần mềm, các phép đo và các bộ tiêu chuẩn áp dụng </p>
              </div>
            </div>


          </div>
          
          
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Ideals</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
